[Unit]
Description=Sui Validator Monitor
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=smilax
ExecStart=/home/smilax/watchtower/validator-sui-monitor.sh
StandardOutput=append:/home/smilax/log/validator-sui-monitor.out.log
StandardError=append:/home/smilax/log/validator-sui-monitor.err.log

SyslogIdentifier=sui-validator-monitor

[Install]
WantedBy=multi-user.target
