psycopg2
numpy
pandas
plotly
Pillow
requests
matplotlib
geoip2
python-magic
urllib3
cloudinary
seaborn
tqdm
discord.py
openai
scikit-learn
xgboost
joblib
folium
borsh-construct
construct
anchorpy
solana
tenacity
geopy
unidecode
pytz
sqlalchemy
rich